<footer class="container-fluid d-flex justify-content-evenly">
    <a class="fw-bold text-decoration-none" href="/">Inicio</a>
    <a class="fw-bold text-decoration-none" href="/productos">Productos</a>
</footer>